@charset "UTF-8";
/* -*- coding: UTF-8, tab-width: 2 -*- */

html, body, .fill {
  display: block; margin: 0;
  position: absolute; top: 0; left: 0; right: 0; bottom: 0;
}


a { text-decoration: none; color: inherit; }

#current-bodies-area .buttons > * {
  display: inline-block;
  margin-left: 0.5em;
  border: 1px solid grey;
  border-radius: 0.25em;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
}

#current-bodies-area a.weblink:before { content: "\26D3 "; /* chains */ }

