@charset "UTF-8";
/* -*- coding: UTF-8, tab-width: 2 -*- */

html, body, .fill {
  display: block; margin: 0;
  position: absolute; top: 0; left: 0; right: 0; bottom: 0;
}

body { margin: 1em; }

p { margin: 0; }
a { text-decoration: none; color: inherit; }

ul { padding-left: 1em; }
ul#current-bodies-list { padding: 0; list-style-type: none; }
ul#current-bodies-list > li .title:before { content: "🏷 "; }
ol + .empty-list-hint, ul + .empty-list-hint { display: none; }
ol:empty, ul:empty { display: none; }
ol:empty + .empty-list-hint, ul:empty + .empty-list-hint { display: block; }

li { margin-bottom: 0.5em; }
li > p:first-child > * { vertical-align: middle; }

#current-bodies-area .buttons > * {
  display: inline-block;
  margin-left: 0.5em;
  width: 1.5em;
  line-height: 1.5em;
  text-align: center;
  cursor: pointer;
}

input[type=button],
input[type=submit],
input[type=text],
#current-bodies-area .buttons > * {
  border: 1px solid silver;
  border-radius: 4px;
}

form { display: block; margin: 0; }
form#editor { margin-top: 1em; }
form p { display: inline-block; white-space: nowrap; margin-right: 1ex; }
#editor label:after { content: ": "; }

#catalogs {
  --indent: 2em;
  padding-left: var(--indent); text-indent: calc(-1 * var(--indent));
  margin: 1em 0;
}

#catalogs > p {
  display: inline-block;
  text-indent: 0;
  border: 1px solid silver; border-radius: 5px;
  padding: 0.2em 0.5em;
  margin-bottom: 0.2em;
}
#catalogs > p:first-child { padding: 0; border-width: 0; }
#catalogs > p.open { background-color: lemonchiffon; }
#catalogs > p.fubar { border-color: firebrick; }
#catalogs > p span + span { margin-left: 1ex; }
#catalogs > p span.status:before { content: "\279C  "; }



/* For debugging positions; the T from "Title" in label[for="title-input"]
  has a stray pixel extending to the left in my Firefox.
 */
xform { background-color: mistyrose; }
xsection { background-color: gainsboro; }
section > p:first-child { background-color: lightgreen; }
label[for="title-input"] { background-color: lightsteelblue; }

















/* scroll */
